useDynLib(pdq)
export(MAXNODES,
       MAXBUF,
       MAXSTREAMS,
       MAXCHARS,
       VOID,
       OPEN,
       CLOSED,
       MEM,
       CEN,
       DLY,
       MSQ,
       ISRV,
       FCFS,
       PSHR,
       LCFS,
       TERM,
       TRANS,
       BATCH,
       EXACT,
       APPROX,
       CANON,
       VISITS,
       DEMAND,
       PDQ_SP,
       PDQ_MP,
       APPROXMSQ,
       TOL,
       CreateClosed,
       CreateClosed_p,
       CreateNode,
       CreateMultiNode,
       CreateOpen,
       CreateOpen_p,
       GetResponse,
       GetThruput,
       GetUtilization,
       GetQueueLength,
       Init,
       Report,
       SetDebug,
       SetDemand,
       SetDemand_p,
       SetVisits,
       SetVisits_p,
       Solve,
       SetWUnit,
       SetTUnit,
       SetComment,
       GetComment,
       PrintNodes,
       GetNode,
       GetStreamsCount,
       GetNodesCount,
       GetResidenceTime,
       GetLoadOpt)
